@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Space Grotesk', 'sans-serif';
    background-color: #003554
}
.contenedor {
    max-width: 1500px ;
    width: 85%;
    margin: 0 auto;
}





/*

HEADER 

*/

.nav .contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 ;
}

.nav .contenedor .logo {
    width: 20%;
}

.nav .contenedor img {
    width: 100%;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    
}

.nav ul a {
    text-decoration: none;
    color: #97d8c488;
}

.nav ul li::after{
    content: '';
    width: 0% ;
    height: 2px;
    background: #97d8c488 ;
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: 2px;
}

.nav ul li:hover::after{
    width: 100%;
}

@media (max-width: 650px){
    .nav .contenedor .logo {
        width: 30%;
    }
}

@media (max-width: 400px){
    .nav .contenedor .logo {
        width: 35%;
    }
}


/* 

HERO

*/

.hero .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .contenedor .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.hero h1 {
    font-size: 4.3rem;
    font-weight: bold;
    color: #fff;
    margin: 4rem 0 3rem -2rem;
    text-align: center;
    
}

.hero p {
    text-align: center;
    width: 31%;
    margin: 0 auto;
    color: #97d8c488;
    font-size: .8rem;

}

.btn {
    border: 3px solid #CBF3F0 ;
    border-radius:  30px;
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: .5rem;
    padding: 15px 40px;
}

.hero .contenedor a {
    text-decoration: none;
    color: #97d8c488;
    font-weight: 600;
}

.hero .contenedor a:hover{
    color: #003554;
    background-color: #CBF3F0;
}

.hero span {
    font-size: .75rem;
    color: #97d8c45d;
    text-align: center;
}

@media (max-width: 850px){
    .hero h1 {
        margin: 4rem 0 3rem 0;      
    }
    
    .hero p {
       
        width: 40%;
       

    }
}

@media (max-width: 550px){
    .hero h1 {
        font-size: 3.5rem;  
    }
    
    .hero p {
       
        width: 100%;
       

    }
}