@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', 'sans-serif';
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    background-color: #003554;
    ;
}
.contenedor {
    max-width: 1500px ;
    width: 85%;
    margin: 0 auto;
}

h2{
    font-size: 1.8rem;
    color: #97D8C4;
    margin-bottom: 100px;
}

p{
    text-align: center;
    color: #97d8c488;
    font-size: .8rem;
}



/*

HEADER 

*/

.nav .contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 ;
}

.nav .contenedor .logo {
    width: 20%;
}

.nav .contenedor img {
    width: 100%;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    
}

.nav ul a {
    text-decoration: none;
    color: #97d8c488;
}

.nav ul li::after{
    content: '';
    width: 0% ;
    height: 2px;
    background: #97d8c488 ;
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: 2px;
}

.nav ul li:hover::after{
    width: 100%;
}

@media (max-width: 650px){
    .nav .contenedor .logo {
        width: 30%;
    }
}

@media (max-width: 400px){
    .nav .contenedor .logo {
        width: 35%;
    }
}


/* 

HERO

*/

.hero {
    height: 600px;
    margin-bottom: 2rem;
}

.hero .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .contenedor .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.hero h1 {
    font-size: 4.3rem;
    font-weight: bold;
    color: #fff;
    margin: 4rem 0 3rem -2rem;
    text-align: center;
    
}

.hero p {
    width: 31%;
    margin: 0 auto;

}

.btn {
    border: 3px solid #CBF3F0 ;
    border-radius:  30px;
    margin: 1rem;
    margin-top: 3rem;
    margin-bottom: .5rem;
    padding: 15px 40px;
}

.hero .contenedor a {
    text-decoration: none;
    color: #97d8c488;
    font-weight: 600;
}

.hero .contenedor a:hover{
    color: #003554;
    background-color: #CBF3F0;
}

.hero span {
    font-size: .75rem;
    color: #97d8c45d;
    text-align: center;
}

@media (max-width: 850px){
    .hero h1 {
        margin: 4rem 0 3rem 0;      
    }
    
    .hero p {
       
        width: 40%;
       

    }
}

@media (max-width: 550px){
    .hero h1 {
        font-size: 3.5rem;  
    }
    
    .hero p {
       
        width: 100%;
       

    }
}



/* 

ABOUT ME


*/
.about-me {
    height: auto;
    margin-bottom: 3rem;

}

.about-me .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
}

.info-container {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    margin-bottom: 2rem;

}

.info-container img {
    width: auto;
    height: 300px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.info-container p {
    width: 45%;
    margin: auto 0;
}

p strong {
    color: #97D8C4;
}

@media (max-width: 900px){
    .info-container {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .info-container img {
        margin-bottom: 30px;
        height: 250px;
    }

    .info-container p {
        width: 70%;
        
    }
}

@media (max-width: 500px){
    h2 {
        margin-bottom: 50px;
    }

    .info-container img {
        height: 200px;
    }

    .info-container p {
        width: 90%;
        font-size: .7rem;
    }
}


.tech-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 2.5rem 0;
    
}

.tech-container img {
    width: 150px;
    margin: 0 8px;
}



/* 

CONTACT


*/

.contact{
    margin-top: 100px;
}
.contact .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.contact-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.call2act h3{
    color: #fff;
    font-size: 25px;
    text-align: left;
    margin-bottom: 15px;
}

.call2act p{
    text-align: left;
    margin-bottom: 1rem;
}

/* copy email */

.email-copy {
    width: 250px;
    margin: 0 auto;

}

.email-copy .copy{
    position: relative;
    padding: 5px;
    background: transparent;
    border:  2px solid #97D8C4;
    border-radius: 20px;
    display: flex;
}

.email-copy .copy input.text {
    /* padding: 10px; */
    font-size: 16px;
    color: #CBF3F0;
    border: none;
    outline: none;
    background: none;
}

.copy button {
    padding: 10px;
    background: #CBF3F0;
    color: #003554;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.copy button:active{
    opacity: .8;
}

.copy button::before {
    content: 'Copiado';
    position: absolute;
    bottom: -50px;
    right: 0;
    background: #97D8C4;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15;
    display: none;
}

.copy button::after{
    content: '';
    position: absolute;
    bottom: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #97D8C4;
    transform: rotate(45deg);
    display: none;
}

.copy.active button::before,
.copy.active button::after{
    display: block;
}

@media (max-width: 500px){
   
    
}

/* form */

.form {
    display: flex;
    flex-direction: column;
}

.form input, .form textarea {
    width: 100%;
    background-color: transparent;
    border: 2.5px solid #CBF3F0;
    padding: 5px 10px;
    font-size: 1rem;
    border-radius: 10px;
    color: var(--border);
    margin: 10px 0;
    height: 40px;
}

.form textarea {
    height: 100px;
}

.form input[type='submit']{
    width: 30%;
    cursor: pointer;
    margin: 10px auto;
    color: #97D8C4;
 }

 .form .btn:hover {
    background-color: #97D8C4;
    color: #003554;
 }

 @media (max-width: 1100px){
    .contact-container {
        flex-direction: column;
        align-items: center;
    }
    .call2act{
        margin-bottom: 2.5rem;
    }
    .form{
        width: 60%;
        margin-top: 3.5rem;
    }
}

@media (max-width: 620px){
    .call2act{
        width: 80%;
    }
    .call2act h3{
        
        font-size: 18px;
    }

    .form{
        width: 80%;
        
    }

    
}



/* 


FOOTER


*/

footer {
    height: 2rem;
    text-align: center;
    color: #97d8c43c;
    font-size: .9rem;
    margin-top: 5rem;
    margin-bottom: .5rem;
}

/* 

LINKS PROFILES

*/

.rrss {
    position: fixed;
    width: 50px;
    bottom: 10% ;
    left: 3%;
    text-align: center;
}

.rrss li {
    list-style: none;
    font-size: 1.5rem;
    margin: 10px auto;
}

.rrss li i{
    color: #CBF3F0;
}
.rrss li i:hover {
    transform: scale(1.2);
}

@media (max-width: 700px){
    .rrss {
        
        left: 1.1%;
        
    }
    .rrss li {
        
        font-size: 2rem;
        
    }
}

@media (max-width: 560px){
    .rrss {
        position: static;
        margin: 0 auto;
        
    }

    .rrss ul{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   .rrss li{
        margin: 0 1rem;
        margin-bottom: 1rem;
   }

}


/* 

SCROLL UP


*/

.scroll-up {
    position: fixed;
    width: 30px;
    height: 30px;
    background-color: #97D8C4;
    bottom: 10% ;
    right: 3%;
    text-align: center;
    opacity: .7;
    transform: translateY(200px);
    transition: all .5s ease-in-out;
}

.scroll-up a {
    font-size: 1.5rem;
    color: #003554;
}

.scroll-up:hover {
    opacity: 1;
}

.show-scroll {
    transform: translateY(0);
}

@media (max-width: 560px){
  
    .scroll-up {
        
        width: 20px;
        height: 20px;
       
    }
    
    .scroll-up a {
        font-size: .8rem;
        
    }

}